/* Estilos para las variables de color */
:root {
  --color-red: red;
  --color-lightblue: lightblue;
  --color-blue: blue;
  --color-white: white;
  --color-black: black;
  --color-yellow: yellow;
  --color-bg: #f0f0f0;
}

/* Estilos para el cuerpo del documento */
body {
  background-color: var(--color-bg);
  font-family: Arial, sans-serif;
}

/* Estilos para la escala de humedad y humedad del suelo */
.humidity-scale,
.soil-humidity-scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: linear-gradient(to right, var(--color-red), var(--color-lightblue), var(--color-blue));
  color: var(--color-white);
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

/* Estilos para el rango en la escala de humedad y humedad del suelo */
.humidity-scale .range,
.soil-humidity-scale .range {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Estilos para el extremo izquierdo de la escala de humedad y humedad del suelo */
.humidity-scale .too-dry,
.soil-humidity-scale .too-dry {
  border-radius: 5px 0 0 5px; /* Bordes redondeados para el extremo izquierdo */
}

/* Estilos para el extremo derecho de la escala de humedad y humedad del suelo */
.humidity-scale .too-humid,
.soil-humidity-scale .too-humid {
  border-radius: 0 5px 5px 0; /* Bordes redondeados para el extremo derecho */
}

/* Estilos para los números en la escala */
.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.numbers span {
  flex: 1;
  text-align: center;
}

/* Estilos para el termómetro */
.thermometer {
  position: relative;
  width: 70px;
  height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stem {
  width: 30px;
  height: 230px;
  background: linear-gradient(to top, var(--color-blue), var(--color-yellow), var(--color-red)); /* Gradiente de colores para el tallo */
  position: absolute;
  top: 35px;
  z-index: 1;
  border-radius: 15px;
  border: 2px solid var(--color-black);
  overflow: hidden;
}

.mercury {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0; /* Inicialmente 0 */
  background: rgba(0, 0, 255, 0.7); /* Color del mercurio */
  border-radius: 15px;
  transition: height 0.5s ease;
}

.ticks {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 10px;
}

.tick {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Estilos para la línea indicadora */
.indicator-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0;
  z-index: 2;
}
