/* Estilos para las variables de color */
:root {
  --color-red: red;
  --color-lightblue: lightblue;
  --color-blue: blue;
  --color-white: white;
  --color-black: black;
  --color-yellow: yellow;
  --color-bg: #f0f0f0;
}

/* Estilos para el cuerpo del documento */
body {
  background-color: var(--color-bg);
  font-family: Arial, sans-serif;
}

/* Estilos para la escala de humedad y humedad del suelo */
.humidity-scale,
.soil-humidity-scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: linear-gradient(to right, var(--color-red), var(--color-lightblue), var(--color-blue));
  color: var(--color-white);
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

/* Estilos para el rango en la escala de humedad y humedad del suelo */
.humidity-scale .range,
.soil-humidity-scale .range {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Estilos para el extremo izquierdo de la escala de humedad y humedad del suelo */
.humidity-scale .too-dry,
.soil-humidity-scale .too-dry {
  border-radius: 5px 0 0 5px; /* Bordes redondeados para el extremo izquierdo */
}

/* Estilos para el extremo derecho de la escala de humedad y humedad del suelo */
.humidity-scale .too-humid,
.soil-humidity-scale .too-humid {
  border-radius: 0 5px 5px 0; /* Bordes redondeados para el extremo derecho */
}

/* Estilos para las barras de progreso */
.progress {
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  color: var(--color-white);
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Personalización de colores para las barras */
.progress-bar.bg-humidity {
  background-color: var(--color-blue);
}

.progress-bar.bg-soil-humidity {
  background-color: var(--color-green);
}

/* Estilos para los números en la escala */
.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.numbers span {
  flex: 1;
  text-align: center;
}
